node_modules
.turbo
dist
.next
out
build
coverage
*.log
.env
.env*.local
!.env.example
.DS_Store
.idea
*.tsbuildinfo
prisma/*.db
apps/api/dist


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
